.footer {
	color: black;
	padding: 15px;
	border-top: double 10px #086659;
	font-weight: 500;
}

.footer-container{
  display: flex;
	justify-content: space-around;
	align-items: center;
  gap: 100px;
  padding: 0 20px;
}

.footer-elem {
	margin-bottom: 10px;
}

.footer-text {
  width: 60%;
}

.footer-input {
  margin: 0px 10px 0 0;
}

.copyright {
  text-align: center;
  font-size: 0.8em;
  font-style: italic;
}
